<h2>Yeni Kitap</h2>
<form action="/books" method="post">
  <div>
    <label for="title">Başlık:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="author">Yazar:</label>
    <input type="text" id="author" name="author">
  </div>
  <button type="submit">Oluştur</button>
</form>
